/* Ticker Styling */


/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/

.simple-news-ticker-container a:hover,
.simple-news-ticker-slider a:hover,
.simple-news-ticker-container a:focus,
.simple-news-ticker-slider a:focus {
    outline: none;
}

.simple-news-ticker-slides,
.simple-news-ticker-slides > li,
.simple-news-ticker-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    display: inline-block;
}

.simple-news-ticker-pauseplay span {
    text-transform: capitalize;
}


/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/

.simple-news-ticker-wrapper {
    margin: 0;
    padding: 0;
    float: left;
    display: none;
}

.simple-news-ticker-title {
    float: left;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    padding: 1px 10px 0 0;
    font-style: italic;
}

.simple-news-ticker {
    display: inline-block;
    float: left;
}

.simple-news-ticker-direction-nav {
    display: inline-block;
    float: left;
    padding: 0 15px 0 0;
    font-size: 16px;
    line-height: 24px;
}

.simple-news-ticker-wrapper .simple-news-ticker-slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

html[xmlns] .simple-news-ticker-wrapper .simple-news-ticker-slides {
    display: block;
}

* html .simple-news-ticker-wrapper .simple-news-ticker-slides {
    height: 1%;
}

.no-js .simple-news-ticker-wrapper .simple-news-ticker-slides > li:first-child {
    display: block;
}


/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/

@media screen and (max-width: 860px) {}
